$background: #e6ebff;
$background_wh: #ffffff;
$background_bl: #000000;
$background_hv: #5efc8d;

$font_color: #fff;

$max_content: 100%;
$un_style: 20px;
$border: 4px;


$cur: pointer;
$cl: column;
$family: sans-serif;




