@use "../../sass/index.scss" as *;

.todo_list_container {
  @include flex(center, center);
  flex-direction: $cl;
  .task_title {
    margin-top: 40px;
    margin-bottom: 20px;
    font: 600 42px/63px Poppins;
    font-family: $family;
  }
  .todo_pusher {
    @include flex("", "");
    input {
      width: 500px;
      height: 65px;
      background: $background;
      border-radius: $border;
    }
    ::placeholder {
      font-size: 22px;
      position: absolute;
      left: 30px;
      top: 20px;
    }
    button {
      font-size: 32px;
      width: 100px;
      background: $background_hv;
      cursor: $cur;
      border: $border;
    }
  }
  .todo_list {
    margin-top: 30px;
    .todo_wrapper {
      padding: 20px;
      @include flex(center, "");
      .completed_task {
        cursor: $cur;
        &:hover {
          background: $background_hv;
        }
      }
      .delete_task {
        @include flex(center, "");
        margin-left: 50px;

        &:hover {
          background: red;
          cursor: $cur;
        }
      }
    }
    .li_style {
      .task_name {
        margin-left: 20px;
      }
      background: black;
      font: normal normal 300 25px/33px Poppins;
      font-family: $family;
      margin-bottom: 20px;
      color: $font_color;
      width: 600px;
      height: 50px;
      border-radius: $border;
      @include flex(center, space-between);
    }
  }
  .completed {
    background: $background;
    .task_name {
      margin-left: 20px;
    }
    font: normal normal 300 22px/33px Poppins;
    font-family: $family;
    margin-bottom: 20px;
    color: $font_color;
    width: 600px;
    height: 50px;
    border-radius: $border;
    color: black;
    @include flex(center, space-between);
  }
}

@media (max-width: 1000px) {
  input {
    width: 290px !important;
  }
  li {
    width: 430px !important;
  }
}



@media (max-width: 500px) {
 
  .todo_pusher {
    button {
      position: absolute;
      width: 100px !important;
      height: 65px;
      right: 0;
    }
  }
  li {
    margin-top: 50px;
    width: 300px !important;
  }
}
