@use "../../sass/index.scss" as *;

.userContainer {
  position: absolute;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  top: 40px;
  left: 450px;
  width: 450px;
  height: 560px;
  .userContainer_mini {
    @include flex(center, center);
    flex-direction: column;
    margin: 10px;
    .second_title {
      font: normal normal 600 48px/72px Poppins;
      font-family: sans-serif;
    }
    .user_photo_container {
      display: flex;
      flex-direction: column;
      .add_photo {
        font-size: 25px;
        font: normal normal 300 22px/33px Poppins;
      }
      .photo_background {
        background: $background;
        padding: 20px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer;
        &:hover {
          background: $background_hv;
        }
      }
    }
    .input_fill {
      margin-top: 40px;
      font: normal normal 300 22px/33px Poppins;
    }
    input {
      width: 350px;
      height: 50px;
      margin-top: 10px;
      background: $background;
      border: none;
    }
    ::placeholder {
      font-size: 20px;
      position: absolute;
      left: 30px;
      top: 15px;
    }
    button {
      width: 230px;
      height: 66px;
      background: #5efc8d 0% 0% no-repeat padding-box;
      border-radius: 4px;
      border: none;
      margin-top: 50px;
      &:hover {
        background: $background_bl;
        color: $background_wh;
        cursor: pointer;
      }
      h1 {
        cursor: pointer;
        font: normal normal 300 32px/20px Poppins;
      }
    }
  }
}
