@use "../../sass/index.scss" as *;

.main_container {
  background: black;
  height: 100vh;
  @include flex(center, center);
  .userContainer {
    background: $background_wh 0% 0% no-repeat padding-box;
    border-radius: $border;
    width: 450px;
    height: 560px;
    .userContainer_mini {
      @include flex(center, center);
      flex-direction: $cl;
      .second_title {
        font: normal normal 600 48px/72px Poppins;
        font-family: $family;
      }
      .user_photo_container {
        margin-top: 30px;
        .add_photo {
          font: normal normal 300 25px/33px Poppins;
        }
        .photo_background {
          background: $background;
          border-radius: 100px;
          width: 120px;
          height: 120px;
          @include flex(center, center);
          margin-top: 10px;
          cursor: $cur;
          &:hover {
            background: $background_hv;
          }
        }
      }
      .input_fill {
        margin-top: 40px;
        font: normal normal 300 22px/33px Poppins;
      }
      .user_input {
        width: 350px;
        height: 60px;
        margin-top: 10px;
        background: $background;
        border-radius: $border;
      }
      ::placeholder {
        font-size: $un_style;
        position: absolute;
        left: 30px;
        top: 15px;
      }
      button {
        width: 230px;
        height: 66px;
        background: #5efc8d 0% 0% no-repeat padding-box;
        border-radius: $border;
        margin-top: 50px;
        font: normal normal 100 32px /20px Poppins;
        cursor: $cur;
        font-family: $family;
        &:hover {
          background: $background_bl;
          color: $background_wh;
          cursor: $cur;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .userContainer {
    left: 0;
  }
  button {
    width: 150px !important;
  }
}
