@use "../../sass/index.scss" as *;

.land_container {
  background: black;
  height: 100vh;
  @include flex(center, center);
  flex-direction: $cl;
  img {
    width: 90px;
  }
  .land_title {
    color: $font_color;
    font-family: $family;
    text-transform: capitalize;
    font-size: 52px;
    margin-top: 50px;
  }
  button {
    @include flex(center, center);
    margin-top: 130px;
    width: 388px;
    height: 98px;
    cursor: $cur;
    background: $background_hv 0% 0% no-repeat padding-box;
    border-radius: 4px;

    h1 {
      font: normal normal 300 48px/72px Poppins;
      font-family: $family;
    }
  }
}

@media (max-width: 1000px) {
  .land_title {
    margin-top: 50px;
    font-size: 25px !important;
  }
  button {
    width: 20px !important;
    h1 {
      font-size: 25px !important;
    }
  }
}

@media (max-width: 500px) {
  .land_title {
    margin-top: 50px;
    font-size: 18px !important;
  }
  button {
    h1 {
      font-size: 25px !important;
    }
  }
}
