@use "../../sass/index.scss" as *;

.navbar_container {
  @include flex(center, space-between);
  background: $background_bl;
  height: 98px;
  h1 {
    color: $font_color;
    font: normal normal 900 36px/55px Poppins;
    margin-left: $un_style;
    font-family: $family;
  }
  .navbar_right_side {
    display: flex;
    div {
      color: $font_color;
      font: normal normal 300 22px/33px Poppins;
      font-family: $family;
      margin-top: $un_style;
      margin-right: $un_style;
    }
    img {
      width: 68px;
      background: $background;
      border-radius: 100px;
      height: 68px;
    }
  }
}
